page-statistics {

    .scroll-content {
        background-color: map-get($colors, light);
    }

    ion-card-header {
        font-weight: bold;
    }

    .passo-hidden {
        display: none;
    }
}

.grafico-margin {
    margin-top: 20px !important;
}