page-login {

    .logo-tantum {
        width: 28%;
        margin-left: 36%;
        margin-top: 10%
    }

    .sobre-button {
        margin-top: 100px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
    }

    .login-button{
        margin-top: 30px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
    }

    .manter-conectado {
        width: 80%;
        margin-left: 10%;
    }
}

.item-inner {
    border: none !important;
}


.brazil {
    background-image: url(assets/img/brazil.png);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}
