page-grade-horarios {

    .div-diario {
        margin-top: 50px;
        height: 75%;
    }

    .dias {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .dia-hidden {
        display: none;
    }

    .dia-selected {
        color: #e67e22;
        font-size: 20px;
        position: relative;
        bottom: 5px;
    }

    .passo-hidden {
        display: none;
    }
    
    .segment-sticky {
        position: sticky;
        top: 0px;
        background-color: $background-color;
    }

}
