subject-list {

    .horario {
        color: #e67e22;
        font-size: 15px;
        float: left;
    }

    .disciplina-item {
        border: 1px solid #f1f1f1 !important;
        background-color: white;
        border-radius: 10px;
        margin-bottom: 5px;
        font-size: 13px;
        height: 50px;
        text-align: left;
        padding-top: 15px;
        padding-left: 15px;
        box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.2);
    }

    .disciplina-div {
        width: 1px;
        height: 20px;
        border: 1px solid #f1f1f1;
        margin-left: 13px;
        margin-right: 15px;
        float: left;
    }

    .disciplia-local {
        position: relative;
        bottom: 5px;
    }

    .disciplia-local-wp {
        bottom: 8px !important;
    }

    .disciplia-nome {
        position: relative;
        bottom: 5px;
        color: #9d9ea0;
        text-overflow: ellipsis;
        white-space: nowrap; 
        overflow: hidden;
        display: block;
    }

    .disciplia-nome-wp {
        bottom: 8px !important;
    }
    
    .nomes {
        text-overflow: ellipsis;
        white-space: nowrap; 
    }

}
