page-main {

    .main-list {
        height: 60%;
    }

    .list-ios > .item-block:first-child {
        border-top: none !important;
    }

    .list {
        margin: 0px !important;
    }

    .slide-text {
        color: color($colors, main-color);
    }

    .swiper-pagination-bullet-active {
        background-color: color($colors, main-color);
    }

    .semestre {
        color: #2d2d2d;
        margin-top: 0px;
        font-size: 14px;
    }

    .nome {
        color: #2d2d2d;
        margin-bottom: 0px;
    }

    .main-content {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
    }

    .button-sair{
        border: 1px solid color($colors, main-color);
        background-color: $background-color;
        color: color($colors, main-color);
        width: 120px;
        border-radius: 5px;
        margin-top: 20px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main-icon {
        width: 10%;
    }

    .main-item {
        height: 80px;
        margin-top: 10px;
        box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
        background-color: white;
    }

    .main-div {
        width: 1px;
        border: 1px solid #f1f1f1;
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
        bottom: 8px;
    }

    .main-label {
        position: relative;
        bottom: 8px;
        color: #3d3d3d;
    }

    .main-disciplina {
        height: 50px;
    }

    .next-classes {
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 5px;
        color: grey;
        font-size: 16px;
    }

    .separator {
        margin-top: 10px;
        height: 1px;
        background-color: lightgray;
        width: 80%;
        position: relative;
        left: 10%;
    }
    
    .activated {
        background-color: white !important;
    }

}