subject-action-list {

    .name-subject {
        text-overflow: ellipsis;
        white-space: nowrap; 
        overflow: hidden;
        display: block;
        width: 75%;
        color: color($colors, main-color);
    }

    .name-subject-without-action {
        width: 100%;
    }

    .remove-subject {
        float: right;
        position: relative;
        bottom: 21px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid color($colors, main-color);
        border-radius: 10px;
        background-color: white;
        color: color($colors, main-color);
    }

    .base-subject {
        margin-top: 15px;
        height: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid lightgray;
    }

    .subject-list {
        margin-top: 20px;
    }

}
