<p class="period">{{ morning }}</p>
<table class="grade-horario-table" (onSwiped)="onSwiped($event)">
  <tr>
    <th>{{ monday }}</th>
    <th>{{ tuesday }}</th>
    <th>{{ wednesday }}</th>
    <th>{{ thursday }}</th>
    <th>{{ friday }}</th>
  </tr>

  <tr *ngFor='let time of morningTimes'>
    <td *ngFor='let day of weekDays' [ngClass]='getClass(time)' (click)='onDisciplinaClicked(day, time)'>
      {{time}}
      <br>
      <br>
      <span [innerHTML]="getInnerHTML(day, time)"></span>
    </td>
  </tr>
</table>

<p class="period">{{ afternoon }}</p>
<table class="grade-horario-table">
  <tr *ngFor='let time of afternoonTimes'>
    <td *ngFor='let day of weekDays' [ngClass]='getClass(time)' (click)='onDisciplinaClicked(day, time)'>
      {{time}}
      <br>
      <br>
      <span [innerHTML]="getInnerHTML(day, time)"></span>
    </td>
  </tr>
</table>

<p class="period">{{ night }}</p>
<table class="grade-horario-table">
    <tr *ngFor='let time of nightTimes'>
        <td *ngFor='let day of weekDays' [ngClass]='getClass(time)' (click)='onDisciplinaClicked(day, time)'>
          {{time}}
          <br>
          <br>
          <span [innerHTML]="getInnerHTML(day, time)"></span>
        </td>
      </tr>
</table>