page-resultado {

    .button-redefine{
        border: 1px solid color($colors, main-color);
        background-color: $background-color;
        color: color($colors, main-color);
        width: 270px;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 20px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}
